### Notebook - Running Spark on OCI Dataflow using PySpark and Spark SQL
<details>
<summary><font size="2">Check OCI Dataflow documentation for policies required;</font></summary>
<li><a href="https://docs.public.oneportal.content.oci.oraclecloud.com/en-us/iaas/data-flow/using/policies-data-flow-studio.htm#policies-data-flow-studio">Policies Required to Integrate Data Flow and Data Science</a></li>
</details><details><summary><font size="2">Check that the data science notebook session has privileges on OCI Dataflow family and any dependencies;</font></summary>

```ALL {resource.type = 'datasciencenotebooksession', resource.compartment.id = '<compartment_id>'}```

</details><details><summary><font size="2">Policy for Data Science to manage OCI Data Flow</font></summary>

```allow dynamic-group <ds-dynamic-group> to manage dataflow-family in compartment '<your-compartment-name>'```

</details><details><summary><font size="2">Policy statements for logging</font></summary>

```allow dynamic-group <ds-dynamic-group> to manage log-groups in compartment '<your-compartment-name>'```
```allow dynamic-group <ds-dynamic-group> to manage log-content in compartment '<your-compartment-name>'```
</details>

In [1]:
import ads
ads.set_auth("resource_principal") # Supported values: resource_principal, api_key

In [2]:
load_ext dataflow.magics

In [ ]:
%use_session -s your_session_id

In [4]:
%%spark
data = [[295, "South Bend", "Indiana", "IN", 101190, 112.9],[10, "Redwood Shores", "California", "CA", 94065, 200.9]]
columns = ["rank", "city", "state", "code", "population", "price"]

df1 = spark.createDataFrame(data, schema="rank LONG, city STRING, state STRING, code STRING, population LONG, price DOUBLE")
df1.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+--------------+----------+----+----------+-----+
|rank|          city|     state|code|population|price|
+----+--------------+----------+----+----------+-----+
| 295|    South Bend|   Indiana|  IN|    101190|112.9|
|  10|Redwood Shores|California|  CA|     94065|200.9|
+----+--------------+----------+----+----------+-----+

In [5]:
%%spark
schemaName = "silverzone"
sqlContext.sql("Create schema " + schemaName)
sqlContext.sql("Use " + schemaName)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [6]:
%%spark
df1.createOrReplaceTempView("df1_view")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [7]:
%%spark -c sql -o rslt_view
select  *
from    df1_view;

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   rank            city       state code  population  price
0   295      South Bend     Indiana   IN      101190  112.9
1    10  Redwood Shores  California   CA       94065  200.9

In [8]:
from autovizwidget.widget.utils import display_dataframe
display_dataframe(rslt_view)

VBox(children=(HBox(children=(HTML(value='Type:'), Button(description='Table', layout=Layout(width='70px'), st…

Output()

AutoVizWidget()

In [28]:
%stop_session

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Session has been stopped successfully.